@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: 'Metropolis';
  src: url('./assets/fonts/metropolis/Metropolis-Light.otf') format('opentype');
  font-weight: 300;
}
@font-face {
  font-family: 'Metropolis';
  src: url('./assets/fonts/metropolis/Metropolis-Regular.otf') format('opentype');
  font-weight: normal;
}
@font-face {
  font-family: 'Metropolis';
  src: url('./assets/fonts/metropolis/Metropolis-Medium.otf') format('opentype');
  font-weight: 500;
}
@font-face {
  font-family: 'Metropolis';
  src: url('./assets/fonts/metropolis/Metropolis-SemiBold.otf') format('opentype');
  font-weight: 600;
}

@font-face {
  font-family: 'Metropolis';
  src: url('./assets/fonts/metropolis/Metropolis-Bold.otf') format('opentype');
  font-weight: 700;
}

@font-face {
  font-family: 'Helvetica';
  src: url('./assets/fonts/helvetica-neue/HelveticaNeue-Thin.otf') format('opentype');
  font-weight: 300;
}

@font-face {
  font-family: 'Helvetica';
  src: url('./assets/fonts/helvetica-neue/HelveticaNeue-Light.otf') format('opentype');
  font-weight: 400;
}

body {
  overflow-x: hidden;
}

.animate-infinite {
  width: calc(300px * 16);
  animation: rotateInfinite 10s linear infinite;
}
@keyframes rotateInfinite {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-300px * 4));
  }
}

/* width */
::-webkit-scrollbar {
  width: 8px;
  height: 0px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #e0e0e0;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #be1e2d;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.fade {
  animation: fade 0.5s ease-in-out;
}

@keyframes fade {
  from {
    opacity: 0.95;
  }
  to {
    opacity: 1;
  }
}

@media (max-width: 768px) {
  .animate-infinite {
    width: calc(150px * 8);
    animation: rotateInfinite 10s linear infinite;
  }
  @keyframes rotateInfinite {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(calc(-150px * 4));
    }
  }
}
